img{
    max-width: 100%;
}
div{
    width: calc(25% - 30px);
    float: left;/* left right none*/
    margin: 15px;
    border: 2px solid black;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px;
    border-radius: 6px;
    transition: all 300ms;
}
div:hover{
    transform: scale(1.02);
    cursor: pointer;
    background-color: rgb(201, 201, 248);
}
#ra-phe:hover{
    background-color: antiquewhite;
}